{include file="public/_meta" /}
	<title>产品列表</title>
	<style>	
		input{
			width:30px;
			border:none;
		}
	</style>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>工厂信息 <span class="c-gray en">&gt;</span> 工厂列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >	<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="page-container">
	<div class="text-c">
	<form class="Huiform" method="get" action="">
		状态：
		<span class="select-box inline">
			<select name="status" class="select">
				<option value="">全部</option> 
				<option value="1">正常</option> 
				<option value="0">下架</option>
			</select>
		</span>
		工种：
		<span class="select-box inline">
			<select name="gong" class="select">
				<option value="">全部</option>
				{volist	name="gong" id='vo'}
				<option value="{$vo.id}">{$vo.gong_name}</option>
				{/volist}
			</select>
		</span>
		地域：
		<span class="select-box inline">
			<select name="area" class="select">
				<option value="">全部</option>
				{volist name='cate' id='vo'}
				<option value="{$vo.id}">{$vo.cate_name}</option>
				{/volist}
			</select>
		</span>
		排序：
		<span class="select-box inline">
			<select name="order" class="select">
				<option value="">默认</option>
				<option value="sort_yi">长期工</option>
				<option value="sort_er">中期工</option>
				<option value="sort_san">小时工</option>
				<option value="sort_si">周工</option>
			</select>
		</span>
		<input type="text" class="input-text" style="width:150px" placeholder="工厂名称" name="prod_name" value="{$Request.get.prod_name|default=''}">
		<button type="submit" class="btn btn-success radius" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="create(0,'add','添加工厂')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 工厂</a>
		</span> 
		<span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border  table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">				
				<th>id</th>
				<th>标题</th>
				<th>名称</th>
				<th>主图</th>
				<th>相关</th>
				<th>高峰赏金</th>
				<th>状态</th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.prod_title}</td>
					<td>{$vo.prod_name}</td>
					<td><img src="{$vo.prod_lpic}" style="width:60px;height:60px" alt=""></td>
					<td>
						<a onclick="create('{$vo.id}','edit','编辑工厂')"> 编辑</a> |
						<a onclick="create('{$vo.id}','worker','查看工人')"> 工人</a> |
						<a onclick="del('{$vo.id}')"> 删除</a>
					</td>
					<td>{$vo.prod_gao}</td>		
					<td><select onchange="change('{$vo.id}',$(this).val(),'prod_status')">
								<option value="1" {if condition="$vo.prod_status eq 1"}selected{/if}>正常</option>
								<option value="0" {if condition="$vo.prod_status eq 0"}selected{/if}>下架</option>
								<option value="2" {if condition="$vo.prod_status eq 2"}selected{/if}>封停</option>
						</select>
					</td>
				</tr>
			{/volist}
		</tbody>
	</table>
	<div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
	$('select[name="status"]').val('{$Request.get.status}');
	$('select[name="gong"]').val('{$Request.get.gong}');
	$('select[name="area"]').val('{$Request.get.area}');
	$('select[name="order"]').val('{$Request.get.order}');

var storage=window.localStorage;
storage.a='';


function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}

function change(id,value,key){
	layer.confirm('确定要更改么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('index')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	            	layer.msg(data.msg);
	            }
	        });
	    });
}

function del(id,key){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('del')}",
            data: {id:id,key,key},
            success: function(data) {
                layer.msg(data.msg);
                if(data.code==1){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        });
    });
}	
</script> 
</body>
</html>