{include file="public/_meta" /}
<title>新闻列表</title>
</head>

<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>系统管理 <span class="c-gray en">&gt;</span> 新闻中心<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form class="Huiform" method="get" action="">
                <input type="text" class="input-text" style="width:150px" placeholder="账号 真实姓名 手机号" id="" name="keywords" value="{$Request.get.keywords|default=''}">
                <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span> </div>
        <div class="mt-20">
            <table class="table table-border  table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th>用户名</th>
                        <th>内容</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id="vo"}
                    <tr class="text-c">
                        <td>{$vo.us_text}</td>
                        <td>{$vo.me_content}</td>
                        <td>{$vo.me_add_time}</td>
                        <td class="td-manage">
                            <a style="text-decoration:none" onclick="del('{$vo.id}','Message')" title="删除"><i class="Hui-iconfont">&#xe706;</i></a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
        </div>
        {include file="public/_footer" /}
        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript">

        function create(id, url, key) {
            var url = "{:url('" + url + "')}?id=" + id;
            creatIframe(url, key);
        }

        function del(id, key) {
            layer.confirm('确定要删除么？', {
                btn: ['确定', '取消']
            }, function(index, layero) {
                $.ajax({
                    type: "post",
                    url: "{:url('every/allDel')}",
                    data: { id: id, key, key },
                    success: function(data) {
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            setTimeout(function() {
                                location.href = data.url;
                            }, 1000);
                        }
                    }
                });
            });
        }
        </script>
</body>

</html>