{include file="public/_meta" /}
<title></title>
<style>
	.Hui-iconfont{
		margin:0 2px;
		font-size:15px;
	}
</style>
</head>
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span>用户 
	<span class="c-gray en">&gt;</span> 入职记录 
	<a class="btn btn-success radius r" style="margin-left:2px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="page-container">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="r">共有数据：<strong>{$list->total()}</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border  table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">				
					<th>账户</th>
					<th>说明</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
				{volist name='list' id="vo"}
					<tr class="text-c">
						<td>
							{$vo.user.us_account}
						</td>
						
						<td>{$vo.note}</td>					
						<td>{$vo.rec_add_time}</td>								
					</tr>
				{/volist}
			</tbody>
		</table>
		<div class="pages" style="margin:20px;float: right; ">{$list|raw}</div>
	</div>
</div>
{include file="public/_footer" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">



/*用户-查看*/
function member_show(title,url,w,h){
	layer_show(title,url,w,h);
}

//全选
var storage=window.localStorage;
var c = localStorage.getItem('a');
if(c){
	var a = c.split(",");
}else{
	var a =[]; 
}
if(a instanceof Array){
	$('.duo').each(function(){
		if( a.indexOf(this.value) >-1 ){
			$(this).attr('checked',true);
		}
	});
}else{
	a = [];
}


function save(data) {
    
	var b = a.indexOf(data);
	if( b >-1 ){
		a.splice(b,1);
	}else{
		a.push(data);
	}
    storage.a=a;
}

function create(id,url,key){
	var url = "{:url('"+url+"')}?id="+id;
	creatIframe(url,key);
}
function creacrea(id){
	var url = "{:url('tupu')}?id="+id+"&type=1";
	creatIframe(url,'节点图');
}
/*------------------更改状态*/
function change(id,value,key){
	layer.confirm('确定要更改么？', {
	      btn: ['确定', '取消']
	    }, function(index, layero){
	        $.ajax({
	            type: "post",
	            url: "{:url('index')}",
	            data: {id:id,value:value,key:key},
	            success: function(data) {
	             	if(data.code){
	             		location.href = 'tupu';
	             	}
	            }
	        });
	    });
}
/*------------------进入图谱*/
function tupu(datt){
	$.ajax({
        type: "get",
        url: "{:url('is_jing')}",
        data: {id:datt},
        success: function(data) {
            if(data.code==1){
                setTimeout(function(){
                    create(datt,'tupu','进入节点图')
                },1000);
            }else{
            	layer.msg(data.msg);
            }
        }
    });
}

/*------------------下载*/
function downdo(){
	var url = window.location.href;
	$.ajax({
		type:'get',
		url:url,
		data:{a:1},
		success:function(data){
			window.location.href = data;
		}
	})
}
/*------------------删除*/
function del(id){
    layer.confirm('确定要删除么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
        $.ajax({
            type: "post",
            url: "{:url('del')}",
            data: {id:id},
            success: function(data) {
                layer.msg(data.msg);
                if(data.code==1){
                    setTimeout(function(){
                        location.href = data.url;
                    },1000);
                }
            }
        });
    });
}
/*------------------区代*/
function agency(id){
	var dd = localStorage.getItem('a');
	var key = '选择区代';
	var url = 'agency';
	if(!dd){
		layer.msg("请选择用户");
	}
	console.log(dd);
    // console.log(chk_value);
    layer.confirm('确定为这些人选择区代么？', {
      btn: ['确定', '取消']
    }, function(index, layero){
         create(dd,url,key)
    });
}	
</script> 
</body>
</html>